<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Students</title></head>
<body>
<h2>Danh sách sinh viên</h2>
<a th:href="@{/students/new}">+ Thêm mới</a>
<table border="1">
  <tr><th>ID</th><th>Name</th><th>Age</th><th>Action</th></tr>
  <tr th:each="s : ${students}">
    <td th:text="${s.id}"></td>
    <td th:text="${s.name}"></td>
    <td th:text="${s.age}"></td>
    <td>
      <a th:href="@{'/students/edit/' + ${s.id}}">Sửa</a> |
      <a th:href="@{'/students/delete/' + ${s.id}}">Xóa</a>
    </td>
  </tr>
</table>
</body>
</html>
